.App {
  

  
}



.App-logo {
  display: block;
  
  height:55vh;
  pointer-events: none;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  margin: 15vh auto 15vh auto;
}



.App-header {
 
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menuBar {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  background: rgba(196, 162, 214, 0.9);
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:10vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}
.menuBar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
  width: 100%;
   
}

.menuBar a { 
  font-size: calc(10px + 1.75vw);
  color: white; 
  font-weight: 300; 
  letter-spacing: 2px; 
  text-decoration: none; 
  margin-right: 10vw;
  
  
  width: 100%; 
  
  }
  
 .menuBar a:hover { 
 
  transition: color 2.25s;
  color: rgb(0, 0, 0); 
    
    padding-top: 20px;
    transition:  1.25s;
  }

  .menu_item_active a{
    font-size: calc(10px + 1.95vw);
    color: rgb(0, 0, 0); 
    padding-top: 20px;
    style: bold;
    font-weight: bold;
    
   
    
    font-size: calc(10px + 2vw);
   
  }
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&family=Open+Sans&display=swap');
  body {
    
  background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }





.text{
  padding: 1vh 4vh 1vh 4vh; 
}






.info{

  border-radius: 2vh 5vh;
  transition: background-color 1s linear;
  background:  rgba(215, 211, 233, 0.91);
  margin: 3vh 0px 0px 0px;
  padding: 1vh 3vh 1vh 3vh;
  top: 0;
  
}

.info p{
  margin: 2vh 5vh 2vh 5vh;
}

.info h1{
  font-size: calc(5px + 1.75vw);
  padding: 1vh 4vh 1vh 4vh; 
}
.picture{
  margin: 2vh 5vh 2vh 5vh;
  height:60vh;
  float:left;
  border-radius: 2vh 5vh;
}

.empty-space{
  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-space img{
 margin: 1vh;
 max-height: 30vh;
 width: auto;
 object-fit: contain;
}

.pages{
  
  display: flex;
  flex-direction: column;
  
}






html {
  

   
    
  font-size: calc(10px + 2.5vw);
  font-family: "IBM Plex Serif" , serif;
 
 
   
}

p{
  font-family: "IBM Plex Serif" , serif;
 ;
  font-size: calc(10px + 1.25vw);
  line-height: 1.5
}

.smallType{

  font-size: calc(10px + 1vw);
}

@media only screen and (max-width: 560px) {
  html {
    
    background: url('../media/beach.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
  }
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(84,174,176, 0.95);
  color: white;
  margin-top: 3vh;
  
  
  
}

.footer p{
  
  font-size: calc(5px + 1.25vw);
}

