.App {
  

  
}
.App-logo {
  display: block;
  
  height:55vh;
  pointer-events: none;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  margin: 15vh auto 15vh auto;
}

.dropDown{
  display: none;
  text-decoration: none;
}

.menuBar {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  background: rgba(197, 169, 212, 0.9);
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:10vh;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
}
.menuBar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
  width: 100%;
   
}

.menuBar a { 
  font-size: calc(10px + 1.75vw);
  color: white; 
  font-weight: 300; 
  letter-spacing: 2px; 
  text-decoration: none; 
  margin-right: 10vw;
  width: 100%; 
  }
  
 .menuBar a:hover { 
 
    transition: color 2.25s;
    color: rgb(0, 0, 0); 
    padding-top: 20px;
    transition:  1.25s;
  }

  .menu_item_active a{
    
    color: rgb(0, 0, 0); 
    padding-top: 20px;
    style: bold;
    font-weight: bold;
    font-size: calc(10px + 2vw);
  }
  .header{
   
    background: radial-gradient( rgba(218, 207, 224, 0.6) 10% , rgba(1, 1, 1, 0) 50%,rgba(1, 1, 1, 0) );
  
  }
@media only screen and (max-width: 560px) {
  .App-logo{
    display: block;
    position: relative;
    align-items: center;
    width: auto;
    height: 80%;
    pointer-events: none;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin: 5% auto 5% auto;
  }
  .header{
    z-index:15;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(180deg,  rgba(255, 255, 255, 0), rgba(218, 207, 224, 0.3) 40%, rgba(255, 255, 255, 0), rgba(215, 211, 233, 0.91) 90%);
    display: flex;
    justify-content: space-between;
    height:35vh;
  }
  
  .dropDown{
    position: fixed;
    top: 3vh;
    z-index: 10;
  
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:10vh;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
  }

  .menuBar{
    display: none;
    
  }
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&family=Open+Sans&display=swap');
  body {

  background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }




.text{
  padding: 1vh 4vh 1vh 4vh; 
 
}

.grid-look{
  padding: 2vh 2vh 2vh 2vh ;
  display: flex;
  background:  rgba(215, 211, 233, 0.91);
  align-items: center;
  
  padding: 1vh 3vh 1vh 3vh;
  justify-content: space-around;
}

.grid-dark{
  padding: 2vh 2vh 2vh 2vh ;
  display: flex;
  color: white;
  background:rgba(123, 104, 134, 0.9);
  align-items: center;
  padding: 1vh 3vh 1vh 3vh;


  justify-content: space-around;
}
.column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 560px) {
  .grid-look{
    display: flex;
    flex-direction: column;
    align-items: center ; 
    
    
  }
  .text{
    padding: 0;
   
  }
}
  .grid-dark{
    display: flex;
    flex-direction: column;
    
  }

.empty-space{
  
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.doodle{
  margin: 1vh;
  max-height: 30vw;
  width: 30vw;
  object-fit: contain;
 
 
 }
.info{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1vh 3vh 1vh 3vh;
  top: 0;
  
}
.gap{
  height: 16vh;
}
.info p{
  margin: 2vh 2vh 2vh 2vh;
}

.info h1{
  font-size: calc(5px + 1.75vw);
  margin: 2vh 5vh 2vh 5vh; 
}
.picture{
  margin: 2vh 5vh 2vh 5vh;
  height:55vh;
  float:left;
  border-radius: 2vh 5vh;
}

@media only screen and (max-width: 560px) {
  .info{
    display: flex;
    flex-direction: column;
    
  }
  .picture{
    width: 90%;
  }

  .gap{
    height: 10vh;
  }
  .doodle{
    margin: 1vh;
    max-height: 30vw;
    width: 50vw;
    object-fit: contain;
  }
   
}



.pages{
  
  display: flex;
  flex-direction: column;
  
}






html {
  
  margin: 0;
  padding: 0;
    
  font-size: calc(10px + 2.5vw);
  font-family: "IBM Plex Serif" , serif;
 
 
   
}

p{
  font-family: "IBM Plex Serif" , serif;
 ;
  font-size: calc(10px + 1.25vw);
  line-height: 1.5
}

.smallType{

  font-size: calc(10px + 1vw);
}

@media only screen and (max-width: 560px) {
  html {
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
  }
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(84,174,176, 0.95);
  color: white;
  margin-top: 3vh;
  
  
  
}

.footer p{
  
  font-size: calc(5px + 1.25vw);
}

